body, html{
    height: 100%;
  }
body{
    font-family: Vazirmatn;
    background-color: #FF0676;
    color: aliceblue;

}

header{
    text-align: center;
    background-color: #FFEE0C;
    color: black;

}
#form{
    padding-top: 200px;
    padding-left: 120px;
    width: 100%;

}

#logo{
    background-color: #FFEE0C;
    width: 50px;
    
}

#btn_menu2{
    background-color: #FF0676;

}
#btn_menu1{
    background-color: #FFEE0C;

}

button{

    background-color: #FFEE0C;
}